<?xml version="1.0"?>
<config>
	<modules>
		<Nacex_Shipping>
			<version>0.1.0</version>
			<depends>
				<Mage_Shipping />
			</depends>
		</Nacex_Shipping>
	</modules>
	<global>
		<models>
			<nxshipping>
				<class>Nacex_Shipping</class>
			</nxshipping>
			<nacex>
				<class>Nacex_Shipping_Model</class>
			</nacex>
		</models>
		<helpers>
			<nacex>
				<class>Nacex_Shipping_Helper</class>
			</nacex>
		</helpers>
		<resources>
			<nxshipping_setup>
				<setup>
					<module>Nacex_Shipping</module>
				</setup>
				<connection>
					<use>directory_setup</use>
				</connection>
			</nxshipping_setup>
			<nxshipping_read>
				<connection>
					<use>local_read</use>
				</connection>
			</nxshipping_read>
		</resources>
		<sales>
			<shipping>
				<carriers>
					<naxjow>
						<class>Nacex_Shipping_Model_Carrier_Naxjow</class>
					</naxjow>
					<naxgab>
						<class>Nacex_Shipping_Model_Carrier_Naxgab</class>
					</naxgab>
				</carriers>
			</shipping>
		</sales>
	</global>
	<default>
		<carriers>
			<naxjow>
				<active>1</active>
				<model>nacex_shipping_model_carrier_naxjow</model>
				<title>Nacex solo ida</title>
				<msg></msg>
				<min_order_value>0</min_order_value>
				<max_order_value>0</max_order_value>
				<weight_units>1</weight_units>
				<handling_fee>0</handling_fee>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
			</naxjow>
			<naxgab>
				<active>1</active>
				<model>nacex_shipping_model_carrier_naxgab</model>
				<title>Nacex ida y vuelta</title>
				<msg></msg>
				<min_order_value>0</min_order_value>
				<max_order_value>0</max_order_value>
				<weight_units>1</weight_units>
				<handling_fee>0</handling_fee>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
			</naxgab>
		</carriers>
	</default>
</config>